*.o
*.elf
*.bin
*.iso
*.img
*.ppm
*.data
tesseract-kernel/vuln_testing/build/
tesseract-kernel/vuln_testing/COW/build/
tesseract-kernel/vuln_testing/COW/results/
tesseract-kernel/vuln_testing/results/
demo/doom1_wad.o
